body{
    background-image: url('dark_wood.png');

}

p{
    font-weight: bold;
    color:white;
    font-family: Arial;
}

h3{
    color: #FFBC00; 
    font-size: 40px; 
    font-family:"Passion One"; 
    margin-bottom: 0px;
    letter-spacing: 6px;

}

li{

}

#Header{
    text-align:center;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    background-color: #8E41D5;
}

#Header h1{
  font-size:60px;
  font-family:"Passion One"; 
  color:#FFBC00; 
  font-weight:bold;
  background-color: #8E41D5;
  

}

#LeftNav{
    text-align:center;
    width: 400px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 10px;
    border: solid 8px black;
    float:left;
    padding:8px;
    background-color: #8E41D5;
    
}

#LeftNav img{
  
}

#LeftNav ul{
    list-style-type: none;
    padding-left:0px;
    background-color: #8E41D5;
    color: white; 
    font-weight: bold; 
    font-size: 24px;).

}

#LeftNav h3{

}

#Content{
    text-align:center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    padding:15px;
    background-color: #8E41D5;
}

#Footer{
    text-align:center;
    border: solid 8px black;
    background-color: #8E41D5;

}
#Footer ul{
    list-style-type: none;
    padding-left:0px;
    background-color: #8E41D5;
    color: white; 
    font-weight: bold; 
    font-size: 24px;).
}

#bow{
    font-size:24px;
  font-family:"Passion One"; 
  color:#FFBC00; 
  font-weight:bold;
}

#links{
    color: white; 
    font-weight: bold; 
    font-size: 24px;).
}
/*5 new css stuff for Play portion*/
img {
    opacity: 0.7;
  }

#myDIV {
    width: 300px;
    height: 200px;
    background: red ;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    50% {background: blue bottom right/50px 50px;}
  } 
.alias {cursor: alias;}
}

/*i changed the letter spacing for heading 3"connect with me online" to 6px*/

p.rtl {
    text-decoration: line-through;
  }
  img {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px; background-color: pink;}
  }
  /*so for my 5 things, i changed image opacity, animated box changing colors, cursor changing if you hover over the word alias, changed the spacing between the words "connect with me online", and changed the images to animate and move up and donw." */
}
    
